body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6310 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:392px;
  height:667px;
}
#u6310_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6310_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:22px;
}
#u6311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:622px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:22px;
}
#u6311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
.u6313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
.u6313 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u6313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6312-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6312-2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:80px;
  height:80px;
}
#u6312-3 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:80px;
}
#u6312-4 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:80px;
}
#u6312-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:80px;
}
#u6312-6 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:90px;
  width:80px;
  height:80px;
}
#u6312-7 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:90px;
  width:80px;
  height:80px;
}
#u6312-8 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:90px;
  width:80px;
  height:80px;
}
#u6312-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:80px;
}
#u6312-10 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:180px;
  width:80px;
  height:80px;
}
#u6312-11 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:180px;
  width:80px;
  height:80px;
}
#u6312-12 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:180px;
  width:80px;
  height:80px;
}
#u6312-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:80px;
  height:80px;
}
#u6312-14 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:270px;
  width:80px;
  height:80px;
}
#u6312-15 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:270px;
  width:80px;
  height:80px;
}
#u6312-16 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:270px;
  width:80px;
  height:80px;
}
#u6312-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:80px;
  height:80px;
}
#u6312-18 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:360px;
  width:80px;
  height:80px;
}
#u6312-19 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:360px;
  width:80px;
  height:80px;
}
#u6312-20 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:360px;
  width:80px;
  height:80px;
}
#u6312-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:80px;
  height:80px;
}
#u6312-22 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:450px;
  width:80px;
  height:80px;
}
#u6312-23 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:450px;
  width:80px;
  height:80px;
}
#u6312-24 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:450px;
  width:80px;
  height:80px;
}
#u6312-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:80px;
  height:80px;
}
#u6312-26 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:540px;
  width:80px;
  height:80px;
}
#u6312-27 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:540px;
  width:80px;
  height:80px;
}
#u6312-28 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:540px;
  width:80px;
  height:80px;
}
#u6312 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:58px;
  width:350px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6314 {
  position:absolute;
  left:30px;
  top:110px;
}
#u6314_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EEB834;
  line-height:28px;
}
#u6315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
  color:#EEB834;
  line-height:28px;
}
#u6315 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:45px;
}
#u6316 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:45px;
  display:flex;
}
#u6316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6317 {
  position:absolute;
  left:0px;
  top:44px;
  visibility:hidden;
}
#u6317_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:238px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6317_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6318 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 100px;
  box-sizing:border-box;
  width:100%;
}
#u6318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:375px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6319 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 100px;
  box-sizing:border-box;
  width:100%;
}
#u6319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:375px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6320 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 100px;
  box-sizing:border-box;
  width:100%;
}
#u6320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u6321 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u6321 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u6322 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:88px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u6322 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u6323 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:169px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u6323 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6324 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:375px;
  height:667px;
  touch-action:pan-y;
  visibility:hidden;
}
#u6324_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6324_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u6325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u6325 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:45px;
}
#u6326 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:45px;
  display:flex;
}
#u6326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6327 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:10px;
  width:67px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6327_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6327.mouseDown {
}
#u6327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:198px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u6328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:375px;
  height:198px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u6328 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u6329 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:242px;
  width:184px;
  height:184px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u6329 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u6332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:430px;
  height:101px;
  display:flex;
}
#u6332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u6333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:30px;
  height:663px;
  display:flex;
}
#u6333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u6334 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:111px;
  width:26px;
  height:663px;
  display:flex;
}
#u6334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u6335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:774px;
  width:430px;
  height:102px;
  display:flex;
}
#u6335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
